# Visual Studio
.vs/
[Bb]in/
[Oo]bj/
[Pp]ublish/
backups/
*.user
*.suo
*.userosscache
*.sln.docstates

# Next.js & Node (for ClipboardPro_Web)
**/node_modules/
**/.next/
**/out/
**/.vercel/
**/*.exe
**/*.zip
**/*.rar

# OS files
Thumbs.db
Desktop.ini

# Android
**/AndroidApp/.gradle/
**/AndroidApp/build/
**/AndroidApp/app/build/
**/AndroidApp/.idea/
**/AndroidApp/*.iml
**/AndroidApp/local.properties
